*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f0ea;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.45;
    color: black;
}

header{
    text-align: center;
    background: linear-gradient(110deg, #667eea 0%, #764ba2 100%);
    color: rgb(222, 207, 211);
    padding: 1rem;
    width: 100%;
    top: 0;
    z-index: 1000;
}

img{
    border-radius: 50%;
    border: 5px solid #667eea;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

nav a{
    color: gold;
    text-decoration: none;
    transition: opacity 0.3s;
    font-weight: 500;
    opacity: 0.8s;
}

nav a:hover,
nav a.active{
    opacity: 1;
    font-weight: bolder;
}

main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;/*deixa as sections separadas*/
}
/*aqui altera a tabela*/
section{
    display: flex;
    flex-direction: column;
}

.quem-somos{
    background-color: #667eea;
    padding: 1rem;

}

.missao{
    background-color: #667eea;
    padding: 1rem;
}

.visao{
    background-color: #667eea;
    padding: 1rem;
}

.valores{
    background-color: #667eea;
    padding: 1rem;
}

h2{
    color: #331f19;
    font-size: 1.2rem;
}
/*RETIRA OS PONTOS DA LISTA*/
li{
    list-style: none;
}

.contato{
    background-color: rgb(155, 242, 155);
    width: 100%;
}

.contato h3{
    text-align: center;
}
/*ENDEREÇO DA ONG*/
address{
    text-align: center;
}

.projetos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;

}
/*DESCRIÇÃO SEGUNDA PAGINA*/
.description{
    display: inline-block; /*PERMITE QUE AS IMAGENS FIQUEM LADO A LADO*/
    background-color: #667eea;
}

.description h2{
    text-align: center;
}

.transparencia{
    align-items: center;
    text-align: center;
}

.transparencia h2{
    background-color: #667eea;
    width: 100%;
}

.transparencia h4{
    background-color: #667eea;
    width: 100%;
}

.pix-voluntario{
    width: 200%;
    background-color: #667eea;
    gap: 2rem;
}

.pix-voluntario p{
    text-align: center;
    font-size: 1rem;
    gap: 1rem;
}

table{
    width: 100%;
    height: 100%;
}

.primeiro{
    background-color: gray;
}

.terceiro{
    background-color: gray;
}

.quinto{
    background-color: gray;
}

form fieldset{
    color: blue;
    border: 1px solid #080808;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

form legend{
    color: #080808;
    font-weight: bold;
    padding: 0 0.5rem;
}
/*INPUTs DO CADASTRO*/
input[type="text"], input[type="telefone"], input[type="date"], select[id="disponibilidade"]{
    width: 20%;
    padding: 0.2rem;
    border-radius: 5px;
    background-color: transparent;
}

label{
    width: 150px;
    display: inline-block;
}

button{
    background-color: #667eea;
    border-radius: 5px;
    padding: 5px;
        
}

footer{
    background-color: #b88e82;
    text-align: center;
}